<div class="page-wrap">
  <div class="container wrapper-sm">

  <div class="modal">
  <%= form_for(@teacher) do |f| %>
    <h1 class="m--b center">Add Teacher</h1>
    <%= f.hidden_field :school_id, :value => @teacher.school.id%>
    
    <div class="input-grouping cf" style="padding-bottom: 10px;">
      <div class="mediaImg">         
         <img class="avatar" src=<%= @teacher.avatar %> >
      </div> 
      <%= f.file_field :avatar, size: 40, style: "margin: 15px;"%>
    </div>

    <div class="input-grouping">
      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
    </div>

    <div class="input-grouping">
        <%= f.text_field :last_name, placeholder: "Last Name", required: true, size: 40 %>
    </div>
           
    <fieldset>
        <%= f.text_area :bio, rows: 6, class: "form-control", placeholder: "Biography" %>
    </fieldset>
      <%= f.submit "Submit", class: "btn--primary large", style: "width:100%; height: 40px;" %>
  <% end %>

  </div>
</div>