<p id="notice"><%= notice %></p>
<h1>
  <%= @teacher.name %>
</h1>
  <p>
    <%= (link_to @teacher.school.name, school_path(@teacher.school)) + " | #{@teacher.reviews.count} Reviews" %> | <%= link_to 'Edit', edit_teacher_path(@teacher) %>
  </p>

<h3>Reviews</h3>
<p>
	<%= link_to 'Create Review', new_review_path(teacher_id: @teacher.id) %>
</p>
<ul>
  <% @teacher.reviews.each do |review| %>
  	<% @review = review %>
		<li><%= render 'reviews/review_line' %></li>
  <% end %>
</ul>



