<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
	<p>Adresss: </p>	
  <%= @school.address.html_safe %>
</p>

<h2>Teachers</h2>
<%= link_to 'Add Teacher', school_add_teacher_path %>
<ul>
	<% @school.teachers.each do |teacher| %>
		<li> <%= link_to teacher.name, teacher_path(teacher) %> </li>
	<% end %>
</ul>

<%= link_to 'Back', schools_path %>
