<div class="map" id="map-canvas" data-place-id=<%= @school.place_id%>></div>

<div class="band--white">
   <div class="container">
      <div class="school-info">
         <h2><%= @school.name %></h2>
         <span><%= @school.address.html_safe rescue "" %></span>
      </div>
      <div class="col-1">
         <span style="font-weight:800;letter-spacing:1px;">SCORE</span>
         <div class='score--main <%= score_color @school.aggregate_score %>'><%= @school.aggregate_score %></div>
      </div>
      <div class="col-3">
         <span class="title">Happiness</span>
         <div class="progress-bar blue stripes">
            <span class="<%= progress_bar_color @school.aggregate_happiness %>" style="width: <%="#{@school.aggregate_happiness}%" %>"></span>
         </div>
         <span class="title">Learning</span>
         <div class="progress-bar blue stripes">
            <span class="<%= progress_bar_color @school.aggregate_learning %>" style="width: <%="#{@school.aggregate_learning}%" %>"></span>
         </div>
         <span class="title">Communication</span>
         <div class="progress-bar blue stripes">
            <span class="<%= progress_bar_color @school.aggregate_communication %>" style="width: <%="#{@school.aggregate_communication}%" %>"></span>
         </div>
      </div>
      <div class="f--r">
         <a href=<%= school_add_teacher_path %> class="btn--secondary x-large" style="margin-top:15px;"><i class="fa fa-user-plus"></i>Add a Teacher</a>
      </div>
   </div>
</div>
<body>
   <div class="container page-wrap" style="padding-top: 0;">

   <div class="page-wrap">
      <div class="container">

<!--          <div class="col-6 m--b">
            <p>"Ms. Kokores went above and beyond to help my child with her reading. My daughter struggled to get through her reading assignments, but by the end of the year, she was actually asking me to listen to her read out loud. She was proud of her progress!"</p>
         </div>

         <div class="col-6 m--b">
            <p>"My child really enjoyed Ms. Kokores' class. She was always warm and created a fun learning environment."</p>
         </div> -->

         <div class="col-6 m--b">
            <p><%= ('"' + @highlighted_reviews[0].comments + '"') if (@highlighted_reviews[0] and !@highlighted_reviews[0].comments.blank?) %></p>
         </div>
         <div class="col-6 m--b">
            <p>
               <%= ('"' + @highlighted_reviews[1].comments + '"') if (@highlighted_reviews[0] and !@highlighted_reviews[1].comments.blank?) %>
            </p>         
         </div>


         </div>
         <div class="container">
            <% @school.teachers.each do |teacher| %>
               <% @teacher = teacher %>
               <%= render 'teachers/teacher_card' %>
            <% end %>
         </div>
      </div> 
   </div     

</body>