<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
  <%= form_for(@review) do |f| %>
    <div class="container page-wrap">
        <div class="wrapper">
            <div class="review__section">
                <div class="rating">
                    
                    <%= f.hidden_field :teacher_id, :value => @review.teacher.id %>

                    <div class="rating__container">
                        <h2 class="rating__header">How would you rate your child's engagement?</h2>
                        <div class="review-icon-group" data-review-field="review_child_happiness">
                            <span class="review-icon" data-review-value="1"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="2"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="3"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="4"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="5"><i class="fa fa-star"></i></span>                            
                        </div>

                        <%= f.hidden_field :child_happiness %>
                    </div>

                    <div class="rating__container">
                        <h2 class="rating__header">How would you rate your child's learning?</h2>


                        <div class="review-icon-group" data-review-field="review_child_learning">
                            <span class="review-icon" data-review-value="1"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="2"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="3"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="4"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="5"><i class="fa fa-star"></i></span>                            
                        </div>


                          <%= f.hidden_field :child_learning %>
                    </div>

                    <div class="rating__container">
                        <h2 class="rating__header">How would you rate your overall satisfaction?</h2>
                        <div class="review-icon-group" data-review-field="review_communication">
                            <span class="review-icon" data-review-value="1"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="2"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="3"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="4"><i class="fa fa-star"></i></span>
                            <span class="review-icon" data-review-value="5"><i class="fa fa-star"></i></span>                            
                        </div>

                          <%= f.hidden_field :communication %>
                    </div>
                </div>

                <div class="rating__container">
                    <h2>Select up to 3 tags that describe your child's
                    teacher</h2>
                    <% Quality.all.each do |quality| %>
                      <span class="tag quality"><%= quality.name %></span> 
                      <input id="review_qualities" name="qualities" type="hidden"> 
                    <% end %>
                </div>


                    <fieldset>
                        <h2>Write a comment about your
                        teacher</h2>
                        <%= f.text_area :comments, rows: 8, class: "form-control" %>
                    </fieldset>
                    

                <%= f.button "Submit", class: "btn--primary large" %>

            </div>
            
        </div>
    </div>
                    <% end %>
</body>
</html>