<div class="comment cf">
   <div class="comment__quote"><%= @review.comments %>
     <div class="comment__tags">
      <% @review.qualities.each do |quality| %>
        <span class="tag x-sm"> <%= quality.name %> </span>
      <% end %>
    </div>
  </div>
  <div class="comment_rating-collection">
    <div class="review-rating overall">
      <div class="score--small <%= score_color @review.average_score.to_f %>"><%= @review.average_score.to_f.round(1) %></div><span>Overall Score</span>
    </div>

    <div class="review-rating">
      <div class="score--small <%= score_color @review.child_learning.to_f %>"><%= @review.child_learning.to_i%></div><span>Student Learning</span>
    </div>

    <div class="review-rating">
      <div class="score--small <%= score_color @review.child_happiness.to_f %>"><%= @review.child_happiness.to_i%></div><span>Student Engagement</span>
    </div>

    <div class="review-rating">
      <div class="score--small <%= score_color @review.communication.to_f %>"><%= @review.communication.to_i%></div><span>Parent Satisfaction</span>
    </div>

  </div>

</div>

