<p id="notice"><%= notice %></p>

<p>
  <strong>Child happiness:</strong>
  <%= @review.child_happiness %>
</p>

<p>
  <strong>Child learning:</strong>
  <%= @review.child_learning %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @review.communication %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
