<!DOCTYPE html>
<html>
<head>
  <title>ourTeachers | Reviews of Teachers by Parents, for Parents</title>
	
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "application", '//fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,400italic', :media => "all" %>
  
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="/dist/css/style.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  

  <%= csrf_meta_tags %>
</head>

<% if Rails.env.development? %>
	<% if !(@hide_frame == 1) %>
		<%= render 'layouts/header' %>
	<% end %>
<% end %>

<body>

<% if Rails.env.development? %>
	<%= yield %>
<% else %>	
	<%= render 'homes/landing_page' %>
<% end %>

</body>
</html>
